*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    width: 393px;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}

.button1{
    width: 139px;
    height: 52px;
    border: 1px solid #ffffff;
    background-color: #181818;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;

}

.texts{
    width: 100%;
    text-align: center;
    margin: 125px auto;
}
.text1{
    font-weight: 500;
    font-size: 80px;
    color: #ffffff;
    margin: 0;
}
.text2{
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
}


.button2{
    width: 178px;
    height: 65px;
    background-color: #4452FE;
    border: none;

}
.button3{
    width: 174px;
    height: 65px;
    border: 1px solid #ffffff;
    background-color: #181818;

}

.button2, .button3{
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 95px;
    margin-inline: 20px;
}

.screen{
    width: 100%;
    margin-top: 30px;
}